@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<div class="coat_navBar" style="float: left; width: 20%; height:100%; margin-top:1.7em;">
    @RenderSection("NavBar",false)
</div>
<div class="coat_content" style="float: right; width: 78%; height:100%;">
    @RenderBody()
</div>
<div style="clear:both;"></div>
