<div id="otherMgrNav" style="height: 100%;">
    <h3>
        <a href="#">Contracts</a></h3>
    <ul>
        <li>@Html.ActionLink("Attach Contracts", "Contract", "Index")</li>
    </ul>
</div>
<script type="text/javascript">
    jQuery(document).ready(function () {
        $("#otherMgrNav").multiAccordion();
    });
</script>