<div id="rejectDialog" title="Tell us why ?">
    <div>
        <select id="rejectOption" name="rejectOption">
            <option value="0">Other-Please Input Comment</option>
            <option value="Existing Install Base">Existing Install Base</option>
            <option value="Name Account Deal">Name Account Deal</option>
            <option value="Duplicated ORP Deal">Duplicated ORP Deal</option> 
        </select>
    </div>
    <div>
        <textarea id="rejectComment" cols="20" rows="5"></textarea>
    </div>
</div>
