@model IEnumerable<COAT.Models.Deal>
@using COAT.ViewModel.Shared
@{
    ViewBag.Title = "Deal Validation";
    Layout = "~/Views/Shared/_DealManagementLayout.cshtml";
}
<h2>@ViewBag.Title</h2>
<br />
<h3>Search</h3>
<hr />
@Html.Partial("_SearchBarPartial", (DealSearchViewModel)ViewBag.SearchModel)
<br />
<h3>List</h3>
<hr />
<br />
@Html.Partial("_DealApproverListPartial", new DealListViewModel { Deals = Model, ActionName = "Details", LinkText = "Validation" })
