@{
    ViewBag.Title = "ResetPasswordSuccess";
}

<h2>Reset Password Success</h2>
<p>Your password has been reset successfully. A mail was sent to you. Please check it and use the new password to login.</p>
<p>For security problem, we strongly recommend that you change your password after you login.</p>