<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <connectionStrings>
    <add name="COATEntities"
         connectionString="metadata=res://*/COAT.csdl|res://*/COAT.ssdl|res://*/COAT.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.200.48.7;initial catalog=COAT_TEST;persist security info=True;user id=coat;password=abcd@1234;multipleactiveresultsets=True;App=EntityFramework&quot;"
         providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>